- hosts: all
  become: yes

  vars:
    terraform_version: "1.4.2"
    
  tasks:
    - name: Check if Terraform is installed
      command: "terraform --version"
      
    - name: Install Terraform if it is not installed
      block:
        - name: Download Terraform
          get_url:
            url: "https://releases.hashicorp.com/terraform/{{ terraform_version }}/terraform_{{ terraform_version }}_linux_amd64.zip"
            dest: "/etc/terraform.zip"

        - name: Unzip Terraform
          unarchive:
            src: "/etc/terraform.zip"
            dest: "/usr/local/bin"
            remote_src: yes
            creates: "/usr/local/bin/terraform"
